.login-form {
  max-width: 300px;
}
.text-center{
  color:red !important;
}
.login-form-margin {
  margin-bottom: 16px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
  background-color: #134071 !important;
  border-color: #134071;
}
.sideright-login{
    background-color: #134071;
    height:100vh;
}


.login-avatar{
  background-color: #134071;
 /* margin: 16px 16px 24px 16px;
  background-position: center;*/
  margin-top: 50px;
  margin-left:50px;
          margin-bottom: 15px;

}
@media (min-width: 521px) { 
  .sideleft-login{
      margin-top: 50px;
      margin-left:50px;
  }
  .login-avatar{
      background-color: #134071;
     /* margin: 16px 16px 24px 16px;
      background-position: center;*/
      margin-top: 50px;
      margin-left:100px;
      margin-bottom: 15px;

    }
}

@media (min-width: 575.98px) { 
  .sideleft-login{
      margin-top: 50px;
      margin-left:50px;
  }
  .login-avatar{
      background-color: #134071;
     /* margin: 16px 16px 24px 16px;
      background-position: center;*/
      margin-top: 50px;
      margin-left:150px;
      margin-bottom: 15px;

    }
}

@media (min-width: 767.98px) {
  .sideleft-login{
      margin-top: 50px;
      margin-left:50px;

  }
  .login-avatar{
      background-color: #134071;
     /* margin: 16px 16px 24px 16px;
      background-position: center;*/
      margin-top: 50px;
      margin-left:150px;
      margin-bottom: 15px;

    }
}

@media (min-width: 991.98px) { 
  .sideleft-login{
      margin-top: 50px;
      margin-left:50px;
      margin-bottom: 15px;

  }
  .login-avatar{
      background-color: #134071;
     /* margin: 16px 16px 24px 16px;
      background-position: center;*/
      margin-top: 50px;
      margin-bottom: 15px;
      margin-left:200px;
    }
}
@media (min-width: 1199.98px) { 
  .sideleft-login{
      margin-top: 50px;
      margin-left:120px;
  }
  .login-avatar{
      background-color: #134071;
     /* margin: 16px 16px 24px 16px;
      background-position: center;*/
      margin-top: 50px;
      margin-left:230px;
    }
}

@media (min-width: 1024px) { 
  .sideleft-login{
      margin-top: 50px;
      margin-left:150px;
  }
  .login-avatar{
      background-color: #134071;
     /* margin: 16px 16px 24px 16px;
      background-position: center;*/
      margin-top: 50px;
      margin-left:230px;
    }
}
@media (min-width: 1356px) { 
  .sideleft-login{
      margin-top: 50px;
      margin-left:150px;
  }
  .login-avatar{
      background-color: #134071;
     /* margin: 16px 16px 24px 16px;
      background-position: center;*/
      margin-top: 50px;
      margin-left:230px;
    }
}
