
  <div nz-row >
    <div nz-col nzSpan="12" >

        <nz-avatar [nzSize]="80" class="login-avatar" nzIcon="user"></nz-avatar>
        <form nz-form [formGroup]="validateForm" class="login-form sideleft-login "  (ngSubmit)="submitForm()">
          <span class="text-center mb-3" *ngIf="errMsg">{{msg}}</span>

          
          <nz-form-item class="login-form-margin">
              <nz-form-control  [nzSm]="24" [nzXs]="24" nzErrorTip="Entrer votre identifiant!">
                <nz-input-group nzPrefixIcon="user">
                  <input type="text" nz-input  formControlName="identifiant" placeholder="Identifiant" />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="Entrer votre mode de passe!">
                <nz-input-group nzPrefixIcon="lock">
                  <input type="password" nz-input formControlName="motDePasse" placeholder="Mot de passe" />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
            <div nz-row class="login-form-margin">
              <div nz-col [nzSpan]="12">
                <label nz-checkbox formControlName="remember">
                  <span>Remember me</span>
                </label>
              </div>
              <div nz-col [nzSpan]="12">
                <a class="login-form-forgot">Mot de passe oublié?</a>
              </div>
            </div>
            <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'" >Se connecter</button>
            Or <a (click)="goToRegister()"> S'inscrire! </a>
          </form>
    </div>
    <div nz-col class="sideright-login" nzSpan="12"></div>
  </div>