
 <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'">
  <nz-tab  [nzTitle]="'Liste publications'">

    
<div nz-row   [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32, xl: 32, xxl: 32 }" >
  <div nz-col *ngFor="let publication of allPublication" class="gutter-row " [nzSpan]="6" style="margin-bottom:50px;width:300px;">
      <nz-card   [nzCover]="coverTemplate"
          [nzActions]="[actionSetting, actionEdit, actionEllipsis]">
          <nz-card-meta nzTitle="{{publication.libelle}}" nzDescription="{{publication.description}}" [nzAvatar]="avatarTemplate">
          </nz-card-meta>
      </nz-card>
      <ng-template #avatarTemplate>
          <nz-avatar nzSrc="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
      </ng-template>
      <ng-template #coverTemplate>
          <img alt="example" src="https://gw.alipayobjects.com/zos/rmsportal/JiqGstEfoWAOHiTxclqi.png" />
      </ng-template>
      <ng-template #actionSetting>
          <i nz-icon nzType="setting"></i>
      </ng-template>
      <ng-template #actionEdit>
          <i nz-icon nzType="edit"></i>
      </ng-template>
      <ng-template #actionEllipsis>
          <i nz-icon nzType="ellipsis"></i>
      </ng-template>
  </div>
 </div>
 

<!-- endfrom -->

    
<!--<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Libelle</th>
      <th scope="col">Description</th>
      <th scope="col">Date début</th>
      <th scope="col">Date expiration</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let publication of allPublication">
      <td>{{publication.libelle}}</td>
      <td>{{publication.description}}</td>
      <td>{{publication.date}}</td>
      <td>{{publication.expiration}}</td>
    </tr>
  </tbody>
</table>-->

     </nz-tab>
  <nz-tab  [nzTitle]="'Mes publications'"> 
    
    
<!--<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Libelle</th>
      <th scope="col">Description</th>
      <th scope="col">Date début</th>
      <th scope="col">Date expiration</th>
      <th scope="col">Option</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let publication of allMyPublication">
      <td>{{publication.libelle}}</td>
      <td>{{publication.description}}</td>
      <td>{{publication.date}}</td>
      <td>{{publication.expiration}}</td>
      <td>       
        <button class="btn btn-success btn-circle btn-circle-sm m-1"><i class="fa fa-paper-plane"></i></button>
        <button class="btn btn-danger btn-circle btn-circle-sm m-1"><i class="fa fa-sliders"></i></button>
      </td>
    </tr>
  </tbody>
</table>-->
<div nz-row   [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32, xl: 32, xxl: 32 }" >
  <div nz-col *ngFor="let publication of allMyPublication" class="gutter-row " [nzSpan]="6" style="margin-bottom:50px;width:300px;">
      <nz-card   [nzCover]="coverTemplate"
          [nzActions]="[actionSetting, actionEdit, actionEllipsis]">
          <nz-card-meta nzTitle="{{publication.libelle}}" nzDescription="{{publication.description}}" [nzAvatar]="avatarTemplate">
          </nz-card-meta>
      </nz-card>
      <ng-template #avatarTemplate>
          <nz-avatar nzSrc="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
      </ng-template>
      <ng-template #coverTemplate>
          <img alt="example" src="https://gw.alipayobjects.com/zos/rmsportal/JiqGstEfoWAOHiTxclqi.png" />
      </ng-template>
      <ng-template #actionSetting>
          <i nz-icon nzType="setting"></i>
      </ng-template>
      <ng-template #actionEdit>
          <i nz-icon nzType="edit"></i>
      </ng-template>
      <ng-template #actionEllipsis>
          <i nz-icon nzType="ellipsis"></i>
      </ng-template>
  </div>
 </div>
  
  
  </nz-tab>

</nz-tabset>


 