
 <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'">
  <nz-tab  [nzTitle]="'Liste publications'">
    
<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
     <!--<th scope="col">#</th>--> 
      <th scope="col">Libelle</th>
      <th scope="col">Description</th>
      <th scope="col">Date début</th>
      <th scope="col">Date expiration</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let publication of allPublication">
      <!--<th scope="row">1</th>-->
      <td>{{publication.libelle}}</td>
      <td>{{publication.description}}</td>
      <td>{{publication.date}}</td>
      <td>{{publication.expiration}}</td>
    </tr>
  </tbody>
</table>

     </nz-tab>
  <nz-tab  [nzTitle]="'Mes publications'"> 
    
    
<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
     <!--<th scope="col">#</th>--> 
      <th scope="col">Libelle</th>
      <th scope="col">Description</th>
      <th scope="col">Date début</th>
      <th scope="col">Date expiration</th>
      <th scope="col">Option</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let publication of allMyPublication">
      <!--<th scope="row">1</th>-->
      <td>{{publication.libelle}}</td>
      <td>{{publication.description}}</td>
      <td>{{publication.date}}</td>
      <td>{{publication.expiration}}</td>
      <td>       
        <button class="btn btn-success btn-circle btn-circle-sm m-1"><i class="fa fa-paper-plane"></i></button>
        <button class="btn btn-danger btn-circle btn-circle-sm m-1"><i class="fa fa-sliders"></i></button>
      </td>
    </tr>
  </tbody>
</table>
  
  
  </nz-tab>

</nz-tabset>


 