<app-header></app-header>
<!-- from https://ng.ant.design/components/carousel/en-->
<nz-carousel nzAutoPlay>
    <div nz-carousel-content *ngFor="let index of array">
      <h3>1</h3>
    </div>
  </nz-carousel>
  <!-- endfrom -->

  <div class="container-fluid mb-5">
<!-- from https://ng.ant.design/components/card/en-->

    <nz-divider nzOrientation="center" nzText="Publication"></nz-divider>

<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32, xl: 32, xxl: 32 }" >
    <div nz-col class="gutter-row" [nzSpan]="6" style="margin-bottom:50px;">
        <nz-card  [nzCover]="coverTemplate"
            [nzActions]="[actionSetting, actionEdit, actionEllipsis]">
            <nz-card-meta nzTitle="Card title" nzDescription="This is the description" [nzAvatar]="avatarTemplate">
            </nz-card-meta>
        </nz-card>
        <ng-template #avatarTemplate>
            <nz-avatar nzSrc="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
        </ng-template>
        <ng-template #coverTemplate>
            <img alt="example" src="https://gw.alipayobjects.com/zos/rmsportal/JiqGstEfoWAOHiTxclqi.png" />
        </ng-template>
        <ng-template #actionSetting>
            <i nz-icon nzType="setting"></i>
        </ng-template>
        <ng-template #actionEdit>
            <i nz-icon nzType="edit"></i>
        </ng-template>
        <ng-template #actionEllipsis>
            <i nz-icon nzType="ellipsis"></i>
        </ng-template>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="6">
        <nz-card  [nzCover]="coverTemplate"
            [nzActions]="[actionSetting, actionEdit, actionEllipsis]">
            <nz-card-meta nzTitle="Card title" nzDescription="This is the description" [nzAvatar]="avatarTemplate">
            </nz-card-meta>
        </nz-card>
        <ng-template #avatarTemplate>
            <nz-avatar nzSrc="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
        </ng-template>
        <ng-template #coverTemplate>
            <img alt="example" src="https://gw.alipayobjects.com/zos/rmsportal/JiqGstEfoWAOHiTxclqi.png" />
        </ng-template>
        <ng-template #actionSetting>
            <i nz-icon nzType="setting"></i>
        </ng-template>
        <ng-template #actionEdit>
            <i nz-icon nzType="edit"></i>
        </ng-template>
        <ng-template #actionEllipsis>
            <i nz-icon nzType="ellipsis"></i>
        </ng-template>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="6">
        <nz-card  [nzCover]="coverTemplate"
            [nzActions]="[actionSetting, actionEdit, actionEllipsis]">
            <nz-card-meta nzTitle="Card title" nzDescription="This is the description" [nzAvatar]="avatarTemplate">
            </nz-card-meta>
        </nz-card>
        <ng-template #avatarTemplate>
            <nz-avatar nzSrc="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
        </ng-template>
        <ng-template #coverTemplate>
            <img alt="example" src="https://gw.alipayobjects.com/zos/rmsportal/JiqGstEfoWAOHiTxclqi.png" />
        </ng-template>
        <ng-template #actionSetting>
            <i nz-icon nzType="setting"></i>
        </ng-template>
        <ng-template #actionEdit>
            <i nz-icon nzType="edit"></i>
        </ng-template>
        <ng-template #actionEllipsis>
            <i nz-icon nzType="ellipsis"></i>
        </ng-template>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="6">
        <nz-card  [nzCover]="coverTemplate"
            [nzActions]="[actionSetting, actionEdit, actionEllipsis]">
            <nz-card-meta nzTitle="Card title" nzDescription="This is the description" [nzAvatar]="avatarTemplate">
            </nz-card-meta>
        </nz-card>
        <ng-template #avatarTemplate>
            <nz-avatar nzSrc="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
        </ng-template>
        <ng-template #coverTemplate>
            <img alt="example" src="https://gw.alipayobjects.com/zos/rmsportal/JiqGstEfoWAOHiTxclqi.png" />
        </ng-template>
        <ng-template #actionSetting>
            <i nz-icon nzType="setting"></i>
        </ng-template>
        <ng-template #actionEdit>
            <i nz-icon nzType="edit"></i>
        </ng-template>
        <ng-template #actionEllipsis>
            <i nz-icon nzType="ellipsis"></i>
        </ng-template>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="6">
        <nz-card  [nzCover]="coverTemplate"
            [nzActions]="[actionSetting, actionEdit, actionEllipsis]">
            <nz-card-meta nzTitle="Card title" nzDescription="This is the description" [nzAvatar]="avatarTemplate">
            </nz-card-meta>
        </nz-card>
        <ng-template #avatarTemplate>
            <nz-avatar nzSrc="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
        </ng-template>
        <ng-template #coverTemplate>
            <img alt="example" src="https://gw.alipayobjects.com/zos/rmsportal/JiqGstEfoWAOHiTxclqi.png" />
        </ng-template>
        <ng-template #actionSetting>
            <i nz-icon nzType="setting"></i>
        </ng-template>
        <ng-template #actionEdit>
            <i nz-icon nzType="edit"></i>
        </ng-template>
        <ng-template #actionEllipsis>
            <i nz-icon nzType="ellipsis"></i>
        </ng-template>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="6" >
        <nz-card  [nzCover]="coverTemplate"
            [nzActions]="[actionSetting, actionEdit, actionEllipsis]">
            <nz-card-meta nzTitle="Card title" nzDescription="This is the description" [nzAvatar]="avatarTemplate">
            </nz-card-meta>
        </nz-card>
        <ng-template #avatarTemplate>
            <nz-avatar nzSrc="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
        </ng-template>
        <ng-template #coverTemplate>
            <img alt="example" src="https://gw.alipayobjects.com/zos/rmsportal/JiqGstEfoWAOHiTxclqi.png" />
        </ng-template>
        <ng-template #actionSetting>
            <i nz-icon nzType="setting"></i>
        </ng-template>
        <ng-template #actionEdit>
            <i nz-icon nzType="edit"></i>
        </ng-template>
        <ng-template #actionEllipsis>
            <i nz-icon nzType="ellipsis"></i>
        </ng-template>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="6" >
        <nz-card  [nzCover]="coverTemplate"
            [nzActions]="[actionSetting, actionEdit, actionEllipsis]">
            <nz-card-meta nzTitle="Card title" nzDescription="This is the description" [nzAvatar]="avatarTemplate">
            </nz-card-meta>
        </nz-card>
        <ng-template #avatarTemplate>
            <nz-avatar nzSrc="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
        </ng-template>
        <ng-template #coverTemplate>
            <img alt="example" src="https://gw.alipayobjects.com/zos/rmsportal/JiqGstEfoWAOHiTxclqi.png" />
        </ng-template>
        <ng-template #actionSetting>
            <i nz-icon nzType="setting"></i>
        </ng-template>
        <ng-template #actionEdit>
            <i nz-icon nzType="edit"></i>
        </ng-template>
        <ng-template #actionEllipsis>
            <i nz-icon nzType="ellipsis"></i>
        </ng-template>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="6" >
        <nz-card  [nzCover]="coverTemplate"
            [nzActions]="[actionSetting, actionEdit, actionEllipsis]">
            <nz-card-meta nzTitle="Card title" nzDescription="This is the description" [nzAvatar]="avatarTemplate">
            </nz-card-meta>
        </nz-card>
        <ng-template #avatarTemplate>
            <nz-avatar nzSrc="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
        </ng-template>
        <ng-template #coverTemplate>
            <img alt="example" src="https://gw.alipayobjects.com/zos/rmsportal/JiqGstEfoWAOHiTxclqi.png" />
        </ng-template>
        <ng-template #actionSetting>
            <i nz-icon nzType="setting"></i>
        </ng-template>
        <ng-template #actionEdit>
            <i nz-icon nzType="edit"></i>
        </ng-template>
        <ng-template #actionEllipsis>
            <i nz-icon nzType="ellipsis"></i>
        </ng-template>
    </div>
  <!-- endfrom -->

</div>
<div class="mt-5" >
    <!-- from  https://ng.ant.design/components/statistic/en-->

   
<nz-divider nzOrientation="center" nzText="like" style="margin-top:50px"></nz-divider>

<nz-row [nzGutter]="16" class="mt-5 mb-5">
    <nz-col [nzSpan]="6">
      <nz-statistic [nzValue]="(1128 | number)!" [nzTitle]="'Feedback'" [nzPrefix]="prefixTpl"></nz-statistic>
      <ng-template #prefixTpl><i nz-icon nzType="like"></i></ng-template>
    </nz-col>
    <nz-col [nzSpan]="6">
      <nz-statistic [nzValue]="93" [nzTitle]="'Unmerged'" [nzSuffix]="'/ 100'"></nz-statistic>
    </nz-col>
    <nz-col [nzSpan]="6">
        <nz-statistic [nzValue]="(1128 | number)!" [nzTitle]="'Feedback'" [nzPrefix]="prefixTpl"></nz-statistic>
        <ng-template #prefixTpl><i nz-icon nzType="like"></i></ng-template>
      </nz-col>
      <nz-col [nzSpan]="6">
        <nz-statistic [nzValue]="93" [nzTitle]="'Unmerged'" [nzSuffix]="'/ 100'"></nz-statistic>
      </nz-col>
  </nz-row>
  <!--endfrom-->
  </div>
</div>

    <!--from bootstrap-->

<app-footer></app-footer>
    <!--endfrom-->
