[nz-carousel-content] {
    text-align: center;
    height: 160px;
    line-height: 160px;
    background: #364d79;
    color: #fff;
    overflow: hidden;
  
  }
  .caroousel-cover{
    height: 100vh;
    width: 100%;  
    background-position: center; 
    background-repeat: no-repeat; 
     background-size: cover;
  }

  h3 {
    color: #fff !important;
    margin-bottom: 0;
  }