.sideright-register{
    background-color: #134071;
    height: 100vh;
}

[nz-form] {
    max-width: 600px;
  }

  button {
    margin-left: 8px;
  }

  .title-accueil{
      color:#134071;
      margin-top: 3%;
     
  }
  .form-register{
      margin-top: 10%;
  }