.sideright-register{
    background-color: #1890ff;
    height:100vh;
}

[nz-form] {
    max-width: 600px;
  }

  button {
    margin-left: 8px;
  }

  .title-accueil{
      color:#1890ff;
      margin-left: 20%;
      margin-top:15px;

      position:center;
  }
  .form-register{
      margin-top: 10%;
  }