
  <div nz-row  >
    <div nz-col nzSpan="12" >
        <h1 class="text-center title-accueil" >Inscrivez-vous </h1>

        <div class="row">
          <div class="col-8 col-sm-8 nanududu-offset-register">
            <div  class="alert alert-success alert-dismissible fade show" role="alert">
              <span>{{_msg}}</span>&nbsp;&nbsp;<a [routerLink]="['/login']" class="alert-link"><strong>Connexion</strong></a>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div *ngIf="verifErrorMsg" class="alert alert-danger alert-dismissible fade show" role="alert">
              <strong>{{_msg}}</strong>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </div>
        </div>

        <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()" class="form-register">
            <!--nom-->
          <nz-form-item>
              <nz-form-label [nzSpan]="7" nzRequired>Nom</nz-form-label>
              <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="userErrorTpl">
                <input nz-input formControlName="nom" placeholder="nom" />
                <ng-template #userErrorTpl let-control>
                  <ng-container *ngIf="control.hasError('required')">
                   Svp entrer votre nom!
                  </ng-container>
                 
                </ng-template>
              </nz-form-control>
            </nz-form-item>
             <!--prenom-->
            <nz-form-item>
              <nz-form-label [nzSpan]="7" nzRequired>Prenom</nz-form-label>
              <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="userErrorTpl">
                <input nz-input formControlName="prenom" placeholder="prenom" />
                <ng-template #userErrorTpl let-control>
                  <ng-container *ngIf="control.hasError('required')">
                    Svp entrer votre prenom!
                  </ng-container>
                  <ng-container *ngIf="control.hasError('duplicated')">
                    The username is redundant!
                  </ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>

              <!--identifiant-->
              <nz-form-item>
                <nz-form-label [nzSpan]="7" nzRequired>Identifiant</nz-form-label>
                <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="userErrorTpl">
                  <input nz-input formControlName="identifiant" placeholder="identifiant" />
                  <ng-template #userErrorTpl let-control>
                    <ng-container *ngIf="control.hasError('required')">
                     Svp entrer un identifiant!
                    </ng-container>
                    <ng-container *ngIf="control.hasError('duplicated')">
                      The username is redundant!
                    </ng-container>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label [nzSpan]="7" nzRequired>Mot de passe</nz-form-label>
                <nz-form-control [nzSpan]="12" nzHasFeedback nzErrorTip="Svp entrer un mot de passe!">
                  <input nz-input type="password" formControlName="password" (ngModelChange)="validateConfirmPassword()" />
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label [nzSpan]="7" nzRequired>Confirm mot de passe</nz-form-label>
                <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="passwordErrorTpl">
                  <input nz-input type="password" formControlName="confirm" placeholder="confirmer votre mot de passe" />
                  <ng-template #passwordErrorTpl let-control>
                    <ng-container *ngIf="control.hasError('required')">
                    Svp confirmer votre mot de passe!
                    </ng-container>
                    <ng-container *ngIf="control.hasError('confirm')">
                      Mot de pas non conforme!
                    </ng-container>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>
                <!--Telephone-->
                <nz-form-item>
                  <nz-form-label [nzSpan]="7" nzRequired>Téléphone</nz-form-label>
                  <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="userErrorTpl">
                    <input nz-input formControlName="telephone" placeholder="téléphone" />
                    <ng-template #userErrorTpl let-control>
                      <ng-container *ngIf="control.hasError('required')">
                       Svp entrer votre numero de télephone!
                      </ng-container>
                      <ng-container *ngIf="control.hasError('duplicated')">
                        The username is redundant!
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
                  <!--adresse-->
                  <nz-form-item>
                    <nz-form-label [nzSpan]="7" nzRequired>Adresse</nz-form-label>
                    <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="userErrorTpl">
                      <input nz-input formControlName="adresse" placeholder="adressse" />
                      <ng-template #userErrorTpl let-control>
                        <ng-container *ngIf="control.hasError('required')">
                         Svp entrer votre adresse!
                        </ng-container>
                        <ng-container *ngIf="control.hasError('duplicated')">
                          The username is redundant!
                        </ng-container>
                      </ng-template>
                    </nz-form-control>
                  </nz-form-item>
         <!--   <nz-form-item>
              <nz-form-label [nzSpan]="7" nzRequired>E-mail</nz-form-label>
              <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="emailErrorTpl">
                <input nz-input formControlName="email" placeholder="email" type="email" />
                <ng-template #emailErrorTpl let-control>
                  <ng-container *ngIf="control.hasError('email')">
                    The input is not valid E-mail!
                  </ng-container>
                  <ng-container *ngIf="control.hasError('required')">
                    Please input your E-mail!
                  </ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>-->
            
            <nz-form-item>
                <nz-form-label [nzSpan]="7" nzFor="gender" nzRequired>Gender</nz-form-label>
                <nz-form-control [nzSpan]="12" nzErrorTip="Selection du genre!">
                  <nz-select
                    id="gender"
                    formControlName="gender"
                    nzPlaceHolder="Please select your gender"
                   
                  >
                    <nz-option nzValue="male" nzLabel="male"></nz-option>
                    <nz-option nzValue="female" nzLabel="female"></nz-option>
                  </nz-select>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item >
                <nz-form-control [nzSpan]="7" [nzOffset]="7">
                  <label nz-checkbox formControlName="agree">
                    <span>J'accepte </span>
                  </label>
                </nz-form-control>
              </nz-form-item>
            
            <nz-form-item>
              <nz-form-control [nzOffset]="7" [nzSpan]="12">
                <button nz-button nzType="primary" [disabled]="!validateForm.valid">Submit</button>
                <!--<button nz-button (click)="resetForm($event)">Reset</button>-->
              </nz-form-control>
            </nz-form-item>
          </form>    
        </div>
    <div nz-col class="sideright-register" nzSpan="12">col-12</div>
  </div>